#[credential "https://github.com"]
#	helper = 
#	helper = !/usr/bin/gh auth git-credential
#[credential "https://gist.github.com"]
#	helper = 
#	helper = !/usr/bin/gh auth git-credential
[user]
    name = lcian
    email = lorenzo.cian@sentry.io

[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true

[merge]
    tool = nvimdiff
    conflictstyle = diff3
[mergetool "vimdiff"]
    layout = LOCAL,MERGED,REMOTE

[init]
    defaultBranch = main
[rerere]
    enabled = true
	autoupdate = true
[push]
	default = current
[pull]
	default = current
